apiVersion: v1
kind: Secret
metadata:
  name: postgres-creds
  namespace: default
type: Opaque
data:
  database_uri: cG9zdGdyZXNxbDovL3Bvc3RncmVzOnBnczNjcjN0QGN1c3RvbWVycy1kYi5kZWZhdWx0LnN2Yy5jbHVzdGVyLmxvY2FsOjU0MzIvcG9zdGdyZXM=
